<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500 Internal Server Error</title>
    <style>
        body{
            background-color: #001ba8;
            color: white;
            font-family: monospace, monospace;
        }

        #stuff{
            color: #001ba8;
        }
    </style>
</head>
<body>

<h1>Internal Server Error</h1>

<p>Oh dear, something has gone wrong on our side. Don't panic, <div id="stuff">Does this count as vaporwave aesthetic?</div> </p>

<p>Feel free to retry. </p>

</body>
</html>