<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        {% if title %}
        <title>{{ title }} - Annotation Competition</title>
        {% else %}
        <title>Annotation Competition</title>
        {% endif %}
        <link rel="stylesheet" href="../static/css/fonts.css">
        <link rel="stylesheet" href="../static/css/material.css">
        <link rel="stylesheet" href="../static/css/base.css">

        {% block css %}

        {% endblock %}
        <script defer src="../static/js/material.min.js"></script>
        {% block js %}

        {% endblock %}

    </head>
    <body>

    <!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Annotation Competition</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer mdl-layout--large-screen-only"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    {% if current_user.is_authenticated %}
                    <a title="Classic Game Mode" class="mdl-navigation__link {% block classiclink %}{% endblock %}"
                       href="{{ url_for('classic') }}">
                        &#x1F3AE; Classic</a>
                    <a title="Captcha Game Mode" class="mdl-navigation__link {% block captchalink %}{% endblock %}"
                       href="{{ url_for('captcha') }}">
                        &#x1F3AE; Rev. Captcha</a>
                    <a title="High Score" class="mdl-navigation__link {% block highscorelink %}{% endblock %}"
                       href="{{ url_for('highscore') }}">
                        &#x1F3C6; Highscore</a>
                    <a title="Settings" class="mdl-navigation__link {% block settingsLink %}{% endblock %}"
                       href="{{ url_for('settings') }}">
                        &#x2699; {{ username }}</a>
                    <a title="Logout" class="mdl-navigation__link {% block logoutlink %}{% endblock %}"
                       href="{{ url_for('logout') }}">
                        &#x23FB; Logout</a>
                    {% else %}
                    <a class="mdl-navigation__link {% block loginlink %}{% endblock %}" href="{{ url_for('login') }}">
                        &#x1F6AA; Login</a>
                    {% endif %}
                    <a class="mdl-navigation__link {% block helplink %}{% endblock %}" href="{{ url_for('help') }}">
                        &#x1F4D6; Help</a>
                </nav>
                <button id="main-menu" class="mdl-button mdl-js-button mdl-button--icon mdl-layout--small-screen-only">
                    &#9776;
                </button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect mobile-menu mdl-layout--small-screen-only"
                    for="main-menu">
                    {% if current_user.is_authenticated %}
                    <li><a title="Classic Game Mode" class="mdl-navigation__link mobile-nav-link mdl-menu__item {{ self.classiclink() }}"
                           href="{{ url_for('classic') }}">
                        &#x1F3AE; Classic</a></li>
                    <li><a title="Captcha Game Mode" class="mdl-navigation__link mobile-nav-link mdl-menu__item {{ self.captchalink() }}"
                           href="{{ url_for('captcha') }}">
                        &#x1F3AE; Rev. Captcha</a></li>
                    <li><a title="High Score" class="mdl-navigation__link mobile-nav-link mdl-menu__item {{ self.highscorelink() }}"
                           href="{{ url_for('highscore') }}">
                        &#x1F3C6; Highscore</a></li>
                    <li><a title="Settings" class="mdl-navigation__link mobile-nav-link mdl-menu__item {{ self.settingsLink() }}"
                           href="{{ url_for('settings') }}">
                        &#x2699; {{ username }}</a></li>
                    <li><a title="Logout" class="mdl-navigation__link mobile-nav-link mdl-menu__item {{ self.logoutlink() }}"
                           href="{{ url_for('logout') }}">
                        &#x23FB; Logout</a></li>
                    {% else %}
                    <li><a class="mdl-navigation__link mobile-nav-link mdl-menu__item {{ self.loginlink() }}" href="{{ url_for('login') }}">
                        &#x1F6AA; Login</a></li>
                    {% endif %}
                    <li><a class="mdl-navigation__link mobile-nav-link mdl-menu__item {{ self.helplink() }}" href="{{ url_for('help') }}">
                        &#x1F4D6; Help</a></li>
                </ul>
            </div>
        </header>

        <main class="mdl-layout__content">
        {% block main %}{% endblock %}

            <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
                <div class="mdl-snackbar__text"></div>
                <button class="mdl-snackbar__action" type="button"></button>
            </div>

        {% block snackbar %}{% endblock %}
        </main>
    </div>
    </body>
</html>
