<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    {% if title %}
        <title>{{ title }} - Annotation Competition</title>
    {% else %}
        <title>Annotation Competition</title>
    {% endif %}
    <link rel="stylesheet" href="../static/css/fonts.css">
    <link rel="stylesheet" href="../static/css/materialicons.css">
    <link rel="stylesheet" href="../static/css/material.css">
    <link rel="stylesheet" href="../static/css/base.css">

    {% block css %}

    {% endblock %}
    <script defer src="../static/js/material.min.js"></script>
    {% block js %}

    {% endblock %}

</head>
<body>

<!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Annotation Competition</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                {% if current_user.is_authenticated %}
                <a title="Classic Game Mode" class="mdl-navigation__link {% block classiclink %}{% endblock %}" href="{{ url_for('classic') }}">
                    Classic</a>
                <a title="Captcha Game Mode" class="mdl-navigation__link {% block captchalink %}{% endblock %}" href="{{ url_for('captcha') }}">Rev.
                    Captcha</a>
                <a title="High Score" class="mdl-navigation__link {% block highscorelink %}{% endblock %}" href="{{ url_for('highscore') }}">
                    &#x1F3C6;</a>
                <a title="Settings" class="mdl-navigation__link {% block settingsLink %}{% endblock %}" href="{{ url_for('settings') }}">
                    &#x2699;</a>
                <a title="Logout" class="mdl-navigation__link {% block logoutlink %}{% endblock %}" href="{{ url_for('logout') }}">
                     {{ username }} &#x23FB;</a>
                {% else %}
                <a class="mdl-navigation__link {% block loginlink %}{% endblock %}" href="{{ url_for('login') }}">
                    Login</a>
                {% endif %}
            </nav>
        </div>
    </header>
    {% block main %}{% endblock %}
</div>

</body>
</html>
