<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - Annotation Competition</title>
    {% else %}
        <title>Annotation Competition</title>
    {% endif %}
    <link rel="stylesheet" href="../static/css/fonts.css">
    <link rel="stylesheet" href="../static/css/materialicons.css">
    <link rel="stylesheet" href="../static/css/material.css">
    <link rel="stylesheet" href="../static/css/base.css">

    {% block css %}

    {% endblock %}
    <script defer src="../static/js/material.min.js"></script>
    {% block js %}

    {% endblock %}

</head>
<body>

<!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Annotation Competition</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{{ url_for('login') }}">{% block loginlink %}Login{% endblock %}</a>
                <a class="mdl-navigation__link" href="{{ url_for('logout') }}">{% block logoutlink %}Logout{% endblock %}</a>
                <a class="mdl-navigation__link" href="{{ url_for('classic') }}">{% block classiclink %}Classic{% endblock %}</a>
                <a class="mdl-navigation__link" href="{{ url_for('captcha') }}">{% block captchalink %}Rev. Captcha{% endblock %}</a>
                <a class="mdl-navigation__link" href="{{ url_for('highscore') }}">{% block highscorelink %} High Score{% endblock %}</a>
            </nav>
        </div>
    </header>
    {% block main %}{% endblock %}
</div>

</body>
</html>
