{% extends "base.html" %}
{% block css %}
    <link href="../static/css/captcha.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block captchalink %}
    <u>Rev. Captcha</u>
{% endblock %}

{% block js %}
    <script src="../static/js/captcha.js" defer></script>
{% endblock %}

{% block main %}
    <main class="mdl-layout__content">
        <form id="skipForm">
            <input id="btnSkip" type="reset" value="Skip"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        </form>

        <p id="captchaTags"></p>
        <meter id="timemeter" class="mdl-progress" min="0" max="60" value="12" low="15" high="30"
               optimum="45"></meter>
        <output id="timer">0</output>
        <br>
        <label for="score">Score: </label>
        <output id="score">0</output>

        Choose the image that best matches the tags

        <div id="captchaImages">
            {{ form.csrf_token }}
        </div>

    </main>
{% endblock %}
