{% extends "base.html" %}

{% block helplink %}
mdl-navigation__link--current
{% endblock %}


{% block main %}
    <h1>Help</h1>

    <p>Welcome to Annotation Competition.</p>

    <p>Our aim is to gamify the tagging of images. We have two game modes, both are available after <a href="#signup">signing up</a>.</p>


    <h2 id="signup">Signup and Login</h2>
    <p>Choose a user name and a password. Requirements you can find on the <a href="{{ url_for('signup') }}">sign up</a> page.
    Both user name and password can later be changed. If you don't want to have an account anymore, this account can be
    deleted.<br>
    The players with the highest scores are mentioned in the high score!</p>

    <h2 id="gamemodes">Game modes</h2>
    <p>There are two game modes available: <a href="#classic">Classic</a> and <a href="#captcha">Reverse Captcha</a></p>

    <h3 id="classic">Classic</h3>
    <p>In this game mode you see an image which you may tag.
    The app checks the tags and if they are accepted you will see under <em>mentioned tags</em>.
    A step-by-step guide can be found in the <a href="{{ url_for('tutorial') }}">tutorial</a>.</p>

    <p>For valid tags you receive points based on our scoring function:<br>
    Each tag is scored with either one or two points, depending on how often this tag has been provided by other users.
    So try to think out of the box!
    Some Images have been tagged very often.
    For those some tags are not allowed, as they have been mentioned very frequently.<br>
    They are listed under 'mentioned tag', and since you have this restriction you get two points for each tag that you provide.</p>

    <p>Sometimes you receive a note, that a tag has been corrected or changed.
    This is due to our natural language processor, which corrects minor typos and tries to find the root form of the provided works.
    Furthermore, a tag should not consist of more than two words, and has to be either a noun, verb or adjective.
    Some names are also allowed.
    As you don't get negative points for false attempts just try as much as possible.</p>

    <p>To avoid spam and cheating, if a tag has been mentioned for a lot of different images, it is not allowed any more.
    Therefore you should lay your focus on what differs the images from one another.</p>

    <h3 id="cpatcha">Reverse Captcha</h3>
    <p>This game mode is for us to check the quality of the tags.
    You are shown a few images and the tags from one of these images.
    Try to find the image, which suits the tags on top.
    If you have choose the correct image, you get 10 points.
    Sometimes, the images may be very similar to one another, or the tags may be not very specific.
    In this case the joker may help you; it fades out half of the images, which are not the correct answer.
    However, you will only receive 5 points for the correct answer, if you used the joker.</p>

    <h2 id="settings">Settings</h2>
    <p>Here you can change your user name, change your password or delete your account. These actions require your old
    password as confirmation.</p>

    <p>Click the action you would like to do, fill out the form and confirm with the button.</p>

{% endblock %}
