{% extends "base.html" %}

{% block main %}
  <main class="mdl-layout__content">
    <div class="page-content"><!-- Your content goes here --></div>

    <p id="timer"></p>

    <div id="imageWrapper">
      <div id="taggingImage">
        <img class="myImg" src={{ source }} width={{ width }} height={{ height }}>
      </div>

      <p id="demo"></p>
      <div id=column>
        <label for="score">Score: </label>
        <output id="score">0</output>

        <h3>Mentioned tags</h3>
        <ul id="mentionedTags">
          <li>&nbsp;</li>
        </ul>
      </div>
    </div>

    <form id="tagForm">
      <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label" for="searchTxt" id="tagTxt">Tag...</label>
        <input class="mdl-textfield__input" type="text" id="searchTxt" maxlength="512" autofocus required spellcheck>
      </div>
      <input type="submit" value="Submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      <input type="reset" value="Reset" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
    </form>
  </main>
{% endblock %}
