body {
    font-family: sans-serif;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: #B8DBFF;
}

#captchaImages, #imageWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#column {
    max-width: 80vw;
    vertical-align: top;
}

#captchaImages img, #tagImage {
    object-fit: contain;
    max-height: 80vh;
    max-width: 80vw;
    margin: 2em;
}

.mdl-navigation__link--current {
    text-decoration: underline;
}

.mdl-menu__outline {
    background-color: #3F51B5;
}

.mobile-menu {
    align-self: center;
}

.mdl-menu__item {
    font-size: 30px;
}

.my-progress {
    max-width: 80vw;
}
