.captchaimage {
    cursor: pointer;


}

.captchaimageDisabled {

}

.captchaimageCorrect {
    border-style: solid;
    border-color: green;

}

.captchaimageIncorrect {
    border-style: solid;
    border-color: red;
    opacity: 0.5;

}