img {
    height: auto;
    width: auto;
    max-width: 70%;
    max-height: 70%;
}

#imageWrapper {
    width: 100%;
    overflow: hidden;
}

#taggingImage {
    float: left;
    display: inline-block;
}

#column {
    vertical-align: top;
    display: inline-block;
}


@media (max-width: 300px) {
    .my-progress {
        max-width: 80vw !important;
        width: 80vw !important;
    }
}

.my-progress {
    max-width: 80vw !important;
    width: 80vw !important;

}