img {
    height: auto;
    width: auto;
    max-width: 70%;
    max-height: 70%;
}

#imageWrapper {
    width: 80vw;
    overflow: hidden;
}

#taggingImage {
    float: left;
    display: inline-block;
}

.myImg{
    max-width: 100vw;
    max-height: 80vh;
}

#column {
    vertical-align: top;
    display: inline-block;
}


