.highscoretitle {
    text-align: center;
}

.highscorelist {
    list-style-type: upper-roman;
    font-size: xx-large;
    text-align: center;
}

.highscoreitem:first-child {
    list-style-type: "\1F947";
}

.highscoreitem:nth-child(2) {
    list-style-type: "\1F948";
}

.highscoreitem:nth-child(3) {
    list-style-type: "\1F949";
}

#information, #user {
    text-align: center;
    margin-top: 50px;
    font-size: 15px;
}
